<section class="container flexWrapGapCenter boxShadow" *ngIf="listQuotations.length > 0; else noQuotes;">
  <div *ngFor="let quote of listQuotations">
    <div class="cardQuote {{quote.modelCard}}">
      <div class="content">
        <img src="https://img.icons8.com/office/40/000000/quote-left.png"/>
        <p class="text">{{quote.quotation}}</p>
      </div>
      <div class="details">
        <p>{{quote.author}}</p>
        <p>{{quote.data | date: "short"}}</p>
      </div>
    </div>
  </div>
</section>
<ng-template #noQuotes>
  <p>Nenhuma Citação adicionada</p>
</ng-template>


